name: "Commit linting"

on: [push, pull_request]

permissions:
  contents: read

jobs:
  commit-lint:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v4
      with:
        # Checkout the entire pull request branch
        repository: ${{github.event.pull_request.head.repo.full_name}}
        ref: ${{github.event.pull_request.head.ref}}
        fetch-depth: ${{github.event.pull_request.commits}}
        persist-credentials: false
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v4
      with:
        ref: main
        fetch-depth: 1
        persist-credentials: false
    - name: Set up Python 3.14
      uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v5
      with:
        python-version: 3.14
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install gitlint
    - name: Analysing the commits
      run: |
        .github/workflows/run-gitlint.sh
