name: "Commit linting"

on: [push, pull_request]

permissions:
  contents: read

jobs:
  commit-lint:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4
      with:
        # Checkout the entire pull request branch
        repository: ${{github.event.pull_request.head.repo.full_name}}
        ref: ${{github.event.pull_request.head.ref}}
        fetch-depth: ${{github.event.pull_request.commits}}
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4
      with:
        ref: main
        fetch-depth: 1
    - name: Set up Python 3.14
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v5
      with:
        python-version: 3.14
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install gitlint
    - name: Analysing the commits
      run: |
        .github/workflows/run-gitlint.sh
